version: '3.8'

volumes:
  medweb:
    name: medweb
  static_files:
  monitoring:
  prometheus-db:
  # clickhouse-db:
  # clickhouse-data:

services:
  web:
    build: 
      context: .
      args: 
        MEDIA_ROOT: /usr/src/web/media/
        NN_MODEL_FOLDER: nnModel/
        BASE_MODEL_FOLDER: base/
        BASE_MODEL_WEIGHTS: weights.pkl
    image: medml/web
    container_name: web
    command: python ./medweb/manage.py runserver 0.0.0.0:8000
    ports:
      - 8000:8000
    restart: always
    env_file:
      - ./dev.env
    environment:
      - CELERY=0
    depends_on:
      - db
      - redis
    volumes:
      - ./medweb:/usr/src/web/medweb
      - ./media:/usr/src/web/media 
      - static_files:/usr/src/web/static_files/
  djnnapi:
    build: 
      context: ./dj_nnapi
      args: 
        MEDIA_ROOT: /usr/src/web/media/
    image: medml/dj_nnapi
    entrypoint: ./entrypoint.sh
    container_name: djnnapi
    command: sleep 1000s
    ports:
      - 8008:8000
    restart: always
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    env_file:
      - ./dev.env
    depends_on:
      - db
      - redis
    volumes:
      - ./dj_nnapi/dj_nnapi:/usr/src/web/dj_nnapi/dj_nnapi
      - ./media:/usr/src/web/media 
  db:
    image: postgres
    restart: always
    ports:
      - 8001:5432
    env_file:
      - ./dev.env
    volumes:
      - medweb:/var/lib/postgresql/data
      - ./backups:/usr/src/web/backups

  redis:
    image: redis
    container_name: redis
    ports:
      - 8002:6379

  front_server:
    build: 
      context: ./nginx/
    image: medml/msa/front_server
    restart: always
    depends_on:
      - web
    links:
      - web
    volumes:
      - static_files:/usr/src/web/static_files/
      - ./media:/usr/src/web/media
  front_out:
    build: 
      context: ./nginx_out/
    image: medml/msa/front_out
    restart: always
    depends_on:
      - front_server
    ports:
      - 80:80
    volumes:
      - static_files:/usr/src/web/static_files/
      - ./media:/usr/src/web/media

networks:
  default:
    name: complex_net
    external: true
