Django>=4.0.5
djangorestframework>=3.13.1
djangorestframework-simplejwt>=5.2.0
django-use-email-as-username>=1.2.0
django-cors-headers>=3.13.0
psycopg2-binary>=2.9.3
gunicorn>=20.1.0
requests>=2.25.1
Pillow>=9.0.1
drf-yasg>=1.21.3
redis>=4.3.4
celery>=5.2.7
tifffile>=2022.8.12
django-debug-toolbar
django-filter~=25.1
django-prometheus
pynvml~=13.0.1
psutil~=7.0.0
Pydicom~=3.0.1
markupsafe==2.0.1
imagecodecs[all]
numpy~=2.3.3
prometheus_client~=0.22.1
torch~=2.8.0
scikit-image~=0.25.2
torchvision~=0.23.0
imageio~=2.37.0
segmentation_models_pytorch
imgaug